body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.carousel{
  background-color: #ffffff;
  width: 40%;
  margin:0 auto;
  margin-top: 20px;
  padding:16px;
  border-radius: 16px;
}

.carousel-content{
  border: 2px solid #eeeeee;
  border-radius: 16px;
  padding:16px;
  margin-bottom:20px;
}

.carousel-content div p{
  margin-top:0px;
  margin-bottom:0px;
}

.carousel-content div{
  color: #6E73A4;
  font-size: 80px;
  font-weight: bold;
  margin-top:1rem;
  margin-bottom:1rem;
}

.carousel-console button:first-child{
  margin-right:20px;
}

